@model InventoryManagement.Models.Categoria;

<h1>Crear Categoría</h1>

<form asp-action="Create">
    <div>
        <label>Nombre</label>
        <input asp-for="Nombre" />
    </div>
    <button type="submit">Crear</button>
</form>